@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@model List<Event>
@{
    ViewData["Title"] = "Мероприятия";
    string userId = UserManager.GetUserId(User);
    List<Event> actual = Model.Where(x => x.DateFinish >= DateTime.Today).ToList();
}

<div class="row mt-3 pb-2">
    <div class="col-3 text-center">
        <h1 class="text-center mt-4"><a asp-action="List" asp-route-sortOrder="@ViewData["DateSortParm"]" class="link link-dark page-link">@ViewData["Title"]</a></h1>
    </div>
    <div class="col-9">
        <form asp-action="List" method="get">
            <div class="form-actions no-color">
                <p class="mt-5">
                    <strong class="w-100 pb-1" style="font-size: 1.1rem">Поиск:</strong>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="w-50" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </p>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success btn-lg w-75" asp-controller="Event" asp-action="Create">Объявить о мероприятии</a>
</div>
<table class="table table-hover w-100 mt-3 pb-2 cell-centered">
    <tbody class="cell-centered mt-5">
        @foreach (var eventEv in actual)
        {
            <tr>
                <td class="text-center">
                    <h5>@eventEv.Name</h5>
                    @if (eventEv.DateStart <= DateTime.Today && eventEv.DateFinish >= DateTime.Today)
                    {
                        if (eventEv.DateStart == eventEv.DateFinish)
                        {
                            <h5 class="text-success">Дата: @eventEv.DateFinish.ToString("D")</h5>
                        }
                        else
                        {
                            <h5 class="text-success">Дата: @eventEv.DateStart.ToString("D") - @eventEv.DateFinish.ToString("D")</h5>
                        }
                        <h5 style="color: lightgray">идёт сейчас</h5>
                    }
                    else
                    {
                        if (eventEv.DateStart == eventEv.DateFinish)
                        {
                            <h5>Дата: @eventEv.DateFinish.ToString("D")</h5>
                        }
                        else
                        {
                            <h5>Дата: @eventEv.DateStart.ToString("D") - @eventEv.DateFinish.ToString("D")</h5>
                        }
                    }
                </td>
                <td class="w-25">
                    <a class="btn p-0 border-0 rounded-2 btn-outline-success mt-auto" asp-controller="Event" asp-action="Index" asp-route-id="@eventEv.Id">
                        @if (eventEv.PhotoPath == null)
                        {
                            <img class="rounded-2 w-100 h-100" src="~/src/Stocks/NoImage.png">
                        }
                        else
                        {
                            <img class="rounded-2 w-100 h-100" src="~/src/Events/@eventEv.PhotoPath">
                        }
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>