@model WebAnimalPassport.Models.View.Treatment.TreatmentEditModel
@{
    ViewData["Title"] = "Home Page";
}
<form method="post" asp-action="Post" enctype="multipart/form-data">
    <input asp-for="AnimalId" hidden />
    <div class="form-group row">
        <h2 class="text-dark pl-3">
            Обработка от паразитов
        </h2>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4 my-1">
                        <label asp-for="File"></label>
                    </div>
                    <div class="col-8 my-1">
                        <img src="PhotoPath" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 my-1">
                        <label asp-for="DateTime"></label>
                    </div>
                    <div class="col-8 my-1">
                        @Model.DateTime
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 my-1">
                        <label asp-for="TreatmentType"></label>
                    </div>
                    <div class="col-8 my-1">
                        @Model.TreatmentType
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 my-1">
                        <label asp-for="Drug"></label>
                    </div>
                    <div class="col-8 my-1">
                       @Model.Drug
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 my-1">
                        <label asp-for="Doze"></label>
                    </div>
                    <div class="col-8 my-1">
                       @Model.Doze
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 my-1">
                        <label asp-for="DoctorName"></label>
                    </div>
                    <div class="col-8 my-1">
                        @Model.DoctorName
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group row offset-4">
                    <div class="col-6 pt-2">
                        <a asp-action="Index" class="btn btn-dark w-100 pt-1">
                            <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

